@font-face {
    font-family: soraSemibold;
    src: url(../public/font/Sora-Regular.ttf);
}

* {
    margin: 0px;
    
    
}

#header {
    height: 100px;
    background-color: #30A149; 
    background-color: rgb(255 255 255);
    /* position: sticky; */
    top: 0;
    display: flex;
    align-items: center;
    z-index: 100;
    font-weight: light;
    font-family: soraSemibold;
    font-weight: 300;
    -webkit-box-shadow: 0px 6px 11px -8px rgba(174,174,174,0.9); 
    box-shadow: 0px 6px 11px -8px rgba(174,174,174,0.9);
}

.logo-container {
    width: 150px;
    height: 80px;
    margin-left: 40px;
    cursor: pointer;
}

.main-menu {
    margin-left: 150px;
}

#info-menu{
    display: flex;
    list-style: none;
    
}


#info-menu li {
    margin-left: 25px;
    font-size: 16px;
    cursor: pointer;

}

#info-menu li:hover {
    color: rgb(34 197 94);
    transition: 0.2s;
}


/* ul li:hover {
    color: rgb(34 197 94);

} */

.right-header ul {
    display: flex;
    list-style: none;
}

#right-icons {
    padding: 0px;
}

#right-icons li {
    font-size: 25px;
    margin-left: 30px;
    cursor: pointer;
}

#right-icons li:last-child {
    margin-right:30px;
}

.fa-magnifying-glass {
    color: rgb(255, 255, 255);
}


.search-bar-container {
    display: flex;
    align-items: center;
    width: 700px;
    height: 60px;
    margin-left: 200px;
}

.search-bar {
    width: 240px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid #E0E2E3;
    outline: none;
    text-indent: 10px;
}

.search-bar::placeholder {
    font-size: 15px;
    position: absolute;
    left:3px;
}

.search-button {
    position: absolute;
    left: 1221px;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    margin-left: 5px;
    border: 0px solid;
    outline: none;
    cursor: pointer;
    background-color: rgb(34 197 94);
    font-weight: 100;
}
.add-product-button {
    cursor: pointer;
    margin-left: 150px;
    width: 100px;
    border-radius: 10px;
    border: none;
    
}

#logo-img {
    width: 160px;
    height: 80px;
    object-fit: contain;
}

.content a {
    display: block;
    color: #191919;
    text-decoration: none;
    padding: 10px 15px;
    border-bottom: 1px solid #E0E2E3;
}

.home-button {
    text-decoration: none;
    color: #191919;
}

.home-button:hover {
    color: rgb(34 197 94);
    transition: 0.2s;
}

.content a:hover {
    background-color: rgb(34 197 94);
    transition: 0.6s;
    color: #FFFFFF;
}

.content {
    visibility: hidden;
    position: absolute;
    background-color: #FFFFFF;
    box-shadow: 7px 7px 27px 4px rgba(25,25,25,0.24);
}



.main-menu ul li:hover > .content {
    visibility: visible;
}

/*.shop-button:hover .content {
    transition-duration: 2s;
    visibility: visible;
    
} */

.shop-button::after {
    height: 10px;
}